## <div align="center">Boeing 777 Range Estimates over Antarctica</div>

This Jupyter notebook estimates ranges over Antarctica for the NASA Boeing 777 (B777-200ER) a.k.a. "the triple seven" airborne science laboratory.

### 1) Getting started

First, load the required Pythonâ„¢ modules and set up processing options and parameters:

In [1]:
import os
import pandas as pd

In [2]:
f_name_aircraft = r"aircraft_performance_parameters.csv"
aircraft_df = pd.read_csv(f_name_aircraft)
aircraft_df

,Parameter,Value,Unit,Comment
0,Name,NASA B777-200ER,NaN,
1,NameShort,777,NaN,
2,MTOW,656E3,lb,maximum take-off weight
3,OEW,321E3,lb,operating empty weight incl. crew
4,MissionLoad,50E3,lb,load for mission operations incl. QNCs + PAX +...
5,FuelTotal,308E3,lb,fuel total
6,FuelTotalOp,280E3,lb,operational fuel total (if tanks not complete...
7,FuelReserveTime,90,min,NaN
8,SpeedCruise,560,kt,NaN
9,SpeedLo,275,kt,NaN
10,SpeedLoPenalty,2,NaN,fuel burn penalty ratio for jet low-flying com...
11,ETOPS,330,min,ETOPS for aircraft type (B777-200ER). not usin...